.col{
	border: 1px solid red;
	margin: auto;
	padding:  10px;
	height: 150px;
	width: 150px;
	text-align: right;
}

.col-8{
	border: 1px solid blue;
	margin: auto;
	padding:  10px;
	height: 150px;
	width: 150px;
}

h1{
	font-family: PT Sans;
}

.col-sm{
	border: 1px solid green;
	margin: auto;
	padding:  0px;
	font-family: sans-serif;
	font-size: small;
}

.col-md{
	border: 1px solid green;
	margin: auto;
	padding:  10px;
}