.whole{
	margin-left: 350px;
	margin-right: 350px;
	margin-top: 50px;
}

.col{
	margin: auto;
	height: 150px;
	width: 150px;
	text-align: left;
}

.col-10{
	margin: auto;
	padding:  10px;
	height: 150px;
	width: 150px;
}

h1{
	font-family: PT Sans;
}

#space{
	height: 100px;
}

.col-sm{
	margin: auto;
	padding:  0px;
	font-family: sans-serif;
	font-size: small;
}

.col-md{
	margin: auto;
	padding:  20px, 10px, 10px, 10px;
	font-family: sans-serif;
}

#date{
	text-align: right;
}

table.table{
	margin-top: 75px;
}